/*Inicio estilo de la página principal*/

body, html {
    margin: 0%;
    width: 100%;
    height: 100%;
}

.mainProductos{
    margin-top: 2em;
    height: 100%;
    width: 100%;
}


#empleado {
    font-size: 25px;
}

scroll
{
     overflow-x:scroll;
     overflow-y:hidden;
}

#cabecera {
    background-color: dodgerblue;
}

#principalCategoria {
    overflow-y: scroll;
}

#productos {
    overflow-y: scroll;
}

.cardmain {
    margin: auto;
    padding: auto;
}

.imgProductos {
    width: 150px;
    height: 150px;
    margin-left: 0;
}

.main{
    width: 200px;
    height: 200px;
}

/**/
.alto100{
    height: 100%;
}

.box img{
    width: 35%;
    height: center;
}
    .doc img{
        width: 200px;
        height: 200px;
    }



