/*Inicio estilo de la página principal*/

body, html {
    margin: 0%;
    height: 100%;
}

.mainProductos{
    height: 100%;
    width: 100%;
}

#empleado {
    font-size: 25px;
}

#cabecera {
    background-color: dodgerblue;
}

#principalCategoria {
    overflow-y: scroll;
}

#productos {
    overflow-y: scroll;
}

.cardmain {
    margin: auto;
    padding: auto;
}

.main {
    width: 200px;
    height: 200px;
}


/**/
.alto100{
    height: 100%;
}

.box img{
    width: 35%;
    height: center;
}

@supports(object-fit: cover){
    .box img{
        height: 35%;
        object-fit: cover;
        object-position: center center;
    }
    .doc img{
        width: 200px;
        height: 200px;
    }

}

